html{
    background-color: #FFF7D1;
}

#main{
    color : #DE7C7D;
}

.class2{
    color: #DE7C7D;
}

.class1{
    color: #FFB0B0;
}
.class3{
    color: black;
}



img[draggable]{
    color: black;
}